In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("KaggleData/"))

# Any results you write to the current directory are saved as output.

['census.csv', 'example_submission.csv', 'test_census.csv']

In [2]:
data = pd.read_csv("KaggleData/census.csv")

In [3]:
income_raw = data['income']
features_raw = data.drop('income', axis = 1)

In [4]:
# Log-transform the skewed features
skewed = ['capital-gain', 'capital-loss']
features_log_transformed = pd.DataFrame(data = features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(lambda x: np.log(x + 1))

In [5]:
# Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler() # default=(0, 1)
numerical = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

C:\Users\szarpagar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [6]:
def income_to_bool(income_string) :
    if income_string == '<=50K' :
        return 0
    else :
        return 1

In [7]:
# TODO: One-hot encode the 'features_log_minmax_transform' data using pandas.get_dummies()
features_final = pd.get_dummies(features_log_minmax_transform)

# TODO: Encode the 'income_raw' data to numerical values
income = income_raw.apply(income_to_bool)

# Print the number of features after one-hot encoding
encoded = list(features_final.columns)

In [8]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_final, 
                                                    income, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

In [9]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, fbeta_score, accuracy_score, roc_auc_score

# TODO: Initialize the classifier
clf = AdaBoostClassifier(random_state=42, n_estimators=17)

# TODO: Create the parameters list you wish to tune, using a dictionary if needed.
# HINT: parameters = {'parameter_1': [value1, value2], 'parameter_2': [value1, value2]}
parameters = {'base_estimator':[DecisionTreeClassifier(max_depth=4, min_samples_leaf=40), 
                                DecisionTreeClassifier(max_depth=4, min_samples_leaf=80), 
                                DecisionTreeClassifier(max_depth=4, min_samples_leaf=160)], 
#               'n_estimators':[15, 16, 17],
             'learning_rate':[0.8, 0.9, 1.0]}

# Kaggle comp. marked on roc_auc_score
scorer = make_scorer(roc_auc_score)

# TODO: Perform grid search on the classifier using 'scorer' as the scoring method using GridSearchCV()
grid_obj = GridSearchCV(clf, parameters, scoring=scorer)

# TODO: Fit the grid search object to the training data and find the optimal parameters using fit()
grid_fit = grid_obj.fit(X_train, y_train)

# Get the estimator
best_clf = grid_fit.best_estimator_

# Make predictions using the unoptimized and model
predictions = (clf.fit(X_train, y_train)).predict(X_test)
best_predictions = best_clf.predict(X_test)

# Report the before-and-afterscores
print(grid_fit.best_estimator_)
print("Unoptimized model\n------")
print("Accuracy score on testing data: {:.4f}".format(accuracy_score(y_test, predictions)))
print("F-score on testing data: {:.4f}".format(fbeta_score(y_test, predictions, beta = 0.5)))
print("\nOptimized Model\n------")
print("Final accuracy score on the testing data: {:.4f}".format(accuracy_score(y_test, best_predictions)))
print("Final F-score on the testing data: {:.4f}".format(fbeta_score(y_test, best_predictions, beta = 0.5)))

C:\Users\szarpagar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=40, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          learning_rate=0.9, n_estimators=17, random_state=42)
Unoptimized model
------
Accuracy score on testing data: 0.8471
F-score on testing data: 0.6975

Optimized Model
------
Final accuracy score on the testing data: 0.8639
Final F-score on the testing data: 0.7337

In [10]:
!ls KaggleData

census.csv
example_submission.csv
test_census.csv

In [11]:
test_df = pd.read_csv('KaggleData/test_census.csv')

In [12]:
test_df.describe()

,Unnamed: 0,age,education-num,capital-gain,capital-loss,hours-per-week
count,45222.000000,45205.000000,45208.000000,45207.000000,45205.000000,45209.000000
mean,22610.500000,38.549983,10.118519,1099.583781,88.595885,40.939348
std,13054.611273,13.218616,2.552811,7493.227006,404.975547,12.007470
min,0.000000,17.000000,1.000000,0.000000,0.000000,1.000000
25%,11305.250000,28.000000,9.000000,0.000000,0.000000,40.000000
50%,22610.500000,37.000000,10.000000,0.000000,0.000000,40.000000
75%,33915.750000,47.000000,13.000000,0.000000,0.000000,45.000000
max,45221.000000,90.000000,16.000000,99999.000000,4356.000000,99.000000

In [13]:
# Fill null numeric data with mean value
test_df['age'].fillna(test_df['age'].mean(), inplace=True)
test_df['education-num'].fillna(test_df['education-num'].mean(), inplace=True)
test_df['capital-gain'].fillna(test_df['capital-gain'].mean(), inplace=True)
test_df['capital-loss'].fillna(test_df['capital-loss'].mean(), inplace=True)
test_df['hours-per-week'].fillna(test_df['hours-per-week'].mean(), inplace=True)

In [14]:
test_df.describe()

,Unnamed: 0,age,education-num,capital-gain,capital-loss,hours-per-week
count,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,22610.500000,38.549983,10.118519,1099.583781,88.595885,40.939348
std,13054.611273,13.216131,2.552416,7491.984135,404.899418,12.005744
min,0.000000,17.000000,1.000000,0.000000,0.000000,1.000000
25%,11305.250000,28.000000,9.000000,0.000000,0.000000,40.000000
50%,22610.500000,37.000000,10.000000,0.000000,0.000000,40.000000
75%,33915.750000,47.000000,13.000000,0.000000,0.000000,45.000000
max,45221.000000,90.000000,16.000000,99999.000000,4356.000000,99.000000

In [15]:
test_df.head()

,Unnamed: 0,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0,21.0,Private,10th,6.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States
1,1,49.0,Private,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,0.0,40.0,United-States
2,2,44.0,Self-emp-not-inc,Assoc-acdm,12.0,Married-civ-spouse,Other-service,Wife,White,Female,0.0,0.0,99.0,United-States
3,3,34.0,Private,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,7298.0,0.0,46.0,United-States
4,4,24.0,Private,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States

In [16]:
# Fill null classifcation data with modal value
test_df['workclass'].fillna(test_df['workclass'].mode().values[0], inplace=True)
test_df['education_level'].fillna(test_df['education_level'].mode().values[0], inplace=True)
test_df['marital-status'].fillna(test_df['marital-status'].mode().values[0], inplace=True)
test_df['occupation'].fillna(test_df['occupation'].mode().values[0], inplace=True)
test_df['relationship'].fillna(test_df['relationship'].mode().values[0], inplace=True)
test_df['race'].fillna(test_df['race'].mode().values[0], inplace=True)
test_df['sex'].fillna(test_df['sex'].mode().values[0], inplace=True)
test_df['native-country'].fillna(test_df['native-country'].mode().values[0], inplace=True)

In [17]:
test_index = test_df['Unnamed: 0']
test_df = test_df.drop('Unnamed: 0', axis = 1)

In [18]:
skewed = ['capital-gain', 'capital-loss']
features_log_transformed_test = pd.DataFrame(data = test_df)
features_log_transformed_test[skewed] = test_df[skewed].apply(lambda x: np.log(x + 1))

In [19]:
scaler = MinMaxScaler() # default=(0, 1)
numerical = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

features_log_minmax_transform_test = pd.DataFrame(data = features_log_transformed_test)
features_log_minmax_transform_test[numerical] = scaler.fit_transform(features_log_transformed_test[numerical])

In [20]:
# TODO: One-hot encode the 'features_log_minmax_transform' data using pandas.get_dummies()
features_final_test = pd.get_dummies(features_log_minmax_transform_test)

In [21]:
test_pred = best_clf.predict(features_final_test)

In [22]:
submission = pd.DataFrame(test_pred).reset_index()
submission.columns = ['id', 'income']
submission.to_csv('KaggleData/submission.csv', index=False)